@media (max-width: 1280px) {
  $mobile-size: 1280 !global;

  .container {
    max-width: calc(100% - vw(48));
    margin: 0 auto;
  }

  header {
    .container {
      padding: vw(20 * 0.8) 0;
    }
  }

  section {
    .title {
      gap: vw(24 * 0.8);

      p {
        font-size: vw(24 * 0.8);
      }
    }
    h5 {
      font-size: vw(48 * 0.8);
    }
    &.section-01 {
      height: vw(865 * 0.8);
      .text-item {
        gap: vw(32 * 0.8);
        p {
          font-size: vw(32 * 0.8);
        }
        .title {
          gap: vw(12 * 0.8);
          h5 {
            font-size: vw(48 * 0.8);
          }
          h4 {
            font-size: vw(80 * 0.8);
          }
        }
        .button-group {
          button {
            font-size: vw(24 * 0.8);
            padding: vw(12 * 0.8) vw(24 * 0.8);
          }
        }
      }
      .background {
        .background-01 {
          top: 50%;
          right: 12%;
          transform: translateY(-50%);
          width: vw(480 * 0.8);
          height: vw(720 * 0.8);
        }
        .background-02 {
          right: 22%;
          bottom: 0;
          width: vw(525 * 0.8);
          height: vw(539 * 0.8);
        }
        .background-03 {
          right: 0;
          top: 0;
          width: vw(389 * 0.8);
          height: vw(579 * 0.8);
        }
        .background-04 {
          bottom: 8%;
          right: 35%;
          width: vw(473 * 0.8);
          height: vw(273 * 0.8);
        }
        .background-05 {
          top: 48%;
          right: 12%;
          transform: translateY(-50%);
          width: vw(570 * 0.8);
          height: vw(621 * 0.8);
        }
        .background-06 {
          top: 24%;
          right: 6%;
          transform: translateY(-50%);
          width: vw(240 * 0.8);
          height: vw(320 * 0.8);
        }
        .background-07 {
          top: 32%;
          right: 48%;
          transform: translate(50%, -50%);
          width: vw(194 * 0.8);
          height: auto;
        }
      }
    }
    &.section-02 {
      min-height: vw(865 * 0.8);
      padding: vw(100 * 0.8) 0;
      .container {
        gap: vw(60 * 0.8);

        .item-group {
          gap: vw(32 * 0.8);
        }
        .box-item {
          gap: vw(24 * 0.8);
          padding: vw(32 * 0.8) vw(48 * 0.8);

          h5.number {
            font-size: vw(24 * 0.8);
          }

          .text-item {
            gap: vw(12 * 0.8);
            p {
              &:nth-child(1) {
                font-size: vw(32 * 0.8);
              }
              &:nth-child(2) {
                font-size: vw(24 * 0.8);
                min-height: vw(72 * 0.8);
              }
            }
          }

          img.icon {
            bottom: vw(32 * 0.8);
            right: vw(48 * 0.8);
            width: vw(80 * 0.8);
          }
        }
      }
      .background {
        p {
          color: rgba($color: $black, $alpha: 0.1);

          &:nth-child(1) {
            top: -1.5%;
            right: 1%;
            font-size: vw(48 * 0.8);
          }
          &:nth-child(2) {
            top: 24%;
            left: -16%;
            font-size: vw(48 * 0.8);
          }
          &:nth-child(3) {
            bottom: 6%;
            left: -5%;
            font-size: vw(24 * 0.8);
          }
          &:nth-child(4) {
            bottom: -2%;
            right: -1.5%;
            font-size: vw(32 * 0.8);
          }
        }
      }
    }
    &.section-03 {
      padding: vw(100 * 0.8) 0;
      .container {
        gap: vw(80 * 0.8);
        .item-group {
          gap: vw(120 * 0.8);
        }
        .box-item {
          gap: vw(60 * 0.8);
          .text-item {
            flex: 1;
            gap: vw(12 * 0.8);
            p {
              &:nth-child(1) {
                font-size: vw(32 * 0.8);
              }
              &:nth-child(2) {
                font-size: vw(24 * 0.8);
              }
            }
          }
          .image-item {
            flex: 1;
            width: vw(600);
            height: vw(400);

            img.img-icon-phone {
              position: absolute;
              top: -10%;
              left: 55%;
              transform: translateX(-50%);
              width: vw(123);
              height: vw(141);
            }
            img.img-icon-xbox {
              position: absolute;
              top: -10%;
              left: 38%;
              transform: translateX(-50%);
              width: vw(118);
              height: vw(124);
            }
            img.img-icon-call {
              position: absolute;
              top: 50%;
              left: -2%;
              transform: translateY(-50%);
              width: vw(168);
              height: vw(174);
            }
          }
        }
      }
    }
    &.section-04 {
      padding: vw(100 * 0.8) 0;

      .container {
        gap: vw(80 * 0.8);
      }

      .item-group {
        gap: vw(40 * 0.8);
      }

      .step {
        gap: vw(12 * 0.8);

        .step-item {
          gap: vw(32 * 0.8);
          padding: vw(40 * 0.8) vw(20 * 0.8);
          img {
            // width: vw(300);
            // height: vw(170);
            width: 100%;
            height: auto;
          }
          p {
            font-size: vw(20 * 0.8);
          }
          .bottom {
            gap: vw(12 * 0.8);
            h5 {
              font-size: vw(32 * 0.8);
            }
            span {
              font-size: vw(20 * 0.8);
            }
          }
        }

        .arrow {
          padding: vw(12 * 0.8);
          width: vw(40 * 0.8);
          height: vw(40 * 0.8);
          svg {
            margin-left: vw(2 * 0.8);
          }
        }
      }
      .info-box {
        gap: vw(12 * 0.8);
        padding: vw(20 * 0.8);

        p {
          font-size: vw(20 * 0.8);
        }
        span {
          font-size: vw(16 * 0.8);
        }
      }
    }
    &.section-05 {
      padding: vw(100 * 0.8) 0;

      .container {
        gap: vw(82 * 0.8);
      }

      .accordion {
        .accordion-item {
          .que {
            padding: vw(16 * 0.8) vw(24 * 0.8);
            > div {
              gap: vw(24 * 0.8);
              h1 {
                font-size: vw(32 * 0.8);
              }
              p {
                font-size: vw(20 * 0.8);
              }
            }
            button {
              width: vw(24 * 0.8);
              height: vw(24 * 0.8);
            }
          }
          .anw {
            padding: vw(16 * 0.8) vw(24 * 0.8);

            > div {
              gap: vw(24 * 0.8);
              h1 {
                font-size: vw(32 * 0.8);
              }
              p {
                font-size: vw(20 * 0.8);
              }
            }
          }
        }
      }
      h1.background {
        display: none;
      }
    }
  }

  footer {
    .footet-content {
      grid-template-columns: repeat(1, 1fr);
    }
    .footer-right {
      gap: vw(20 * 0.8);
      .footer-group-wrap {
        gap: vw(20 * 0.8);
        .footer-item-group {
          gap: vw(16 * 0.8);
        }
      }
    }
  }
}
