// COLOR
$white: #ffffff;
$black: #333;
$darkgray: #333333;
$gray: #666666;

$primary: #ff8400;
$primary-hover: #ff974d;
$secondary: #202b45;
$secondary-hover: #00195b;
$info: #2f80ed;
$success: #27ae60;
$warning: #eec035;
$error: #eb5757;

$border-color: #d9d9d9;
